@using DocumentFormat.OpenXml.Office2010.Excel

@{
    ViewData["Title"] = "Home Page";
}


<div style="margin-top:50px;">
    <div align="center">
        <a href="/User/ExportExcel">Export Data</a>
    </div>
</div>